<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fs-1 ms-1" routerLink=""><img  style="width: 75px; height: 70px" class="rounded-3"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaGDzKPNbhpS4YqHbdNzChkE1slN2UoOjT3g&s"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link text-light fs-3" routerLink="authors">Authors</a></li>
        <li class="nav-item"><a class="nav-link text-light fs-3" routerLink="books">Books</a></li>
      </ul>
    </div>
  </div>
</nav>
