<main class="container-sm card mt-4 mb-3 p-5 rounded-4 border-3 ">
  <form [formGroup]="authorFormGroup" class="col-9 mx-auto">
    <h1 class="mb-5 text-center">Author Registration</h1>
    <section class="row mb-3">
      <label class="form-label">FullName:</label>
      <div class="input-group col">
        <input class="form-control" type="text" formControlName="name" id="name" placeholder="Enter the name">
        <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
      </div>
    </section>
    <section class="row mb-3">
      <label class="form-label">Pseudonym:</label>
      <div class="input-group col">
        <input class="form-control" type="text" formControlName="pseudonym" id="pseudonym"
          placeholder="Enter the pseudonym">
        <span class="input-group-text"><i class="bi bi-incognito"></i></span>
      </div>
    </section>
    <section class="row mb-3">
      <div class="col">
        <label class="form-label">Born:</label>
        <div class="input-group col">
          <input class="form-control" type="date" formControlName="born" id="born" />
        </div>
      </div>
      <div class="col">
        <label class="form-label">Nationality:</label>
        <div class="input-group col">
          <input class="form-control" type="text" formControlName="nationality" id="nationality"
            placeholder="Nationality" />
          <span class="input-group-text"><i class="bi bi-globe-americas"></i></span>
        </div>
      </div>
    </section>
    <section class="row mb-3">
      <div class="form-check">
        <div class="col">
          <h5 class="form-label">Does the author have a prize?</h5>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" formControlName="prize" id="prize">
          <label class="form-check-label">Yes, the author has.</label>
        </div>
      </div>
    </section>
    <section class="row mb-3">
      <div class="btn-save text-center">
        <button class="btn btn-secondary w-100 mt-3 mb-4" type="submit" (click)="save()">Save <i
            class="bi bi-box-arrow-in-right"></i></button>
      </div>
    </section>
  </form>
  <h1 class="text-center">Authors</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Author</th>
        <th scope="col">Pseudonym</th>
        <th scope="col">Born</th>
        <th scope="col">Nationality</th>
        <th scope="col">Prize</th>
        <th scope="col-6">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let author of arrayAuthor">
        <th scope="row">{{ author.id }}</th>
        <td>{{ author.name }}</td>
        <td>{{ author.pseudonym }}</td>
        <td>{{ author.born }}</td>
        <td>{{ author.nationality }}</td>
        <td>
          <span *ngIf="author.prize" class="badge text-bg-primary">Has a Prize</span>
          <span *ngIf="!author.prize" class="badge text-bg-secondary">Has not a Prize</span>
        </td>
        <td>
          <button class="btn btn-success me-2" (click)="update(author)">Update</button>
          <button class="btn btn-danger" (click)="delete(author)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</main>