<main class="container-sm card mt-4 p-5 rounded-4 border-3 ">
  <div>
    <h1 class="mb-5">Author Registration</h1>
    <form>
      <section class="row mb-3">
        <label class="form-label">FullName:</label>
        <div class="input-group col">
          <input class="form-control" type="text" name="name" id="name" placeholder="Enter the name">
          <span class="input-group-text"></span>
        </div>
      </section>
      <section class="row mb-3">
        <label class="form-label">Pseudonym:</label>
        <div class="input-group col">
          <input class="form-control" type="text" name="pseudonym" id="pseudonym" placeholder="Enter the pseudonym">
          <span class="input-group-text"></span>
        </div>
      </section>
      <section class="row mb-3">
        <div class="col">
          <label class="form-label">Born:</label>
          <div class="input-group col">
            <input class="form-control" type="date" name="born" id="born" />
            <span class="input-group-text"></span>
          </div>
        </div>
        <div class="col">
          <label class="form-label">Nationality:</label>
          <div class="input-group col">
            <input class="form-control" type="text" name="nationality" id="nationality" placeholder="Nationality" />
            <span class="input-group-text"></span>
          </div>
        </div>
      </section>
      <section class="row mb-3">
        <div class="form-check">
          <div class="col">
            <h5 class="form-label">Does the author have a prize?</h5>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label">Yes, the author has.</label>
          </div>
        </div>
      </section>
      <section class="row mb-3">
        <div class="btn-save text-center">
          <button type="button" class="btn btn-secondary w-100 mt-3">Save</button>
        </div>
      </section>
    </form>
  </div>
</main>