<main class="container w-75 bg-dark rounded-4 mt-4 p-5" style="margin-bottom: 90px;">
  <form [formGroup]="authorFormGroup" class="mx-auto">
    <div class="card rounded-4 border-5 border-success p-5">
      <h1 class="mb-4 text-center">Author Registration</h1>
      <section class="row mb-3">
        <label for="name" class="form-label">Full Name:</label>
        <div class="input-group col">
          <input class="form-control" type="text" formControlName="name" placeholder="Enter the author's name">
          <span class="input-group-text bg-success"><i class="bi bi-person-circle text-light"></i></span>
        </div>
        <small *ngIf="submitted && name.hasError('required')" class="text-danger">~The name is required~</small>
      </section>
      <section class="row mb-3">
        <label for="pseudonym" class="form-label">Pseudonym:</label>
        <div class="input-group col">
          <input class="form-control" type="text" formControlName="pseudonym" id="pseudonym"
            placeholder="Enter the pseudonym">
          <span class="input-group-text bg-success"><i class="bi bi-incognito text-light"></i></span>
        </div>
      </section>
      <section class="row mb-3">
        <div class="col">
          <label for="born" class="form-label">Born:</label>
          <div class="input-group col">
            <input class="form-control" type="date" formControlName="born">
          </div>
          <small *ngIf="submitted && born.hasError('required')" class="text-danger">~The born is required~</small>
        </div>
        <div class="col">
          <label for="nationality" class="form-label">Nationality:</label>
          <div class="input-group col">
            <input class="form-control" type="text" formControlName="nationality" id="nationality"
              placeholder="Nationality" />
            <span class="input-group-text bg-success"><i class="bi bi-globe-americas text-light"></i></span>
          </div>
          <small *ngIf="submitted && nationality.hasError('required')" class="text-danger">~The nationality is
            required~</small>
        </div>
      </section>
      <section class="row mb-3">
        <div class="form-check">
          <div class="col">
            <h5 class="form-label">Does the author have an award?</h5>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="award">
            <label class="form-check-label">Yes, the author has.</label>
          </div>
        </div>
      </section>
      <section class="row">
        <div class="btn-save text-center">
          <button class="btn btn-success w-50 mt-3" type="submit" (click)="save()">Save<i
              class="bi bi-box-arrow-in-right"></i></button>
        </div>
      </section>
    </div>
  </form>
  <div class="card rounded-4 border-5 border-success p-4 mt-5">
    <h1 class="text-center mb-4">Table of Authors</h1>
    <table class="table table-dark table-striped-columns">
      <thead>
        <tr class="text-center">
          <th scope="col">ID</th>
          <th scope="col">Author</th>
          <th scope="col">Pseudonym</th>
          <th scope="col">Born</th>
          <th scope="col">Nationality</th>
          <th scope="col">Award</th>
          <th scope="col-6">Options</th>
        </tr>
      </thead>
      <tbody class="table-group-divider" style="font-size: 14px;">
        <tr *ngFor="let author of arrayAuthor">
          <th scope="row">{{ author.id }}</th>
          <td>{{ author.name }}</td>
          <td>{{ author.pseudonym }}</td>
          <td>{{ author.born }}</td>
          <td>{{ author.nationality }}</td>
          <td class="text-center">
            <span *ngIf="author.award" class="badge text-bg-primary">Has an award</span>
            <span *ngIf="!author.award" class="badge text-bg-secondary">Has not an award</span>
          </td>
          <td>
            <button class="btn btn-success me-2" (click)="update(author)">Update</button>
            <button class="btn btn-danger" (click)="delete(author)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
