<main class="container-sm card mt-4 mb-3 p-5 rounded-4 border-3 ">
    <form [formGroup]="bookFormGroup" class="col-9 mx-auto">
        <h1 class="mb-5 text-center">Book Registration</h1>
        <section class="row mb-3">
            <label for="title" class="form-label">Book's title:</label>
            <div class="input-group col">
                <input class="form-control" type="text" formControlName="title" id="title"
                    placeholder="Enter the title">
                <span class="input-group-text"><i class="bi bi-book"></i></span>
            </div>
            
        </section>
        <section class="row mb-3">
            <label for="author" class="form-label">Book's Author:</label>
            <div class="input-group col">
                <select class="form-select" formControlName="authorId" [compareWith]="compareAuthors">
                    <option *ngFor="let author of arrayAuthor" [ngValue]="author.id">
                        {{ author.name }}
                    </option>
                </select>
                <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
            </div>
        </section>
        <section class="row mb-3">
            <div class="col">
                <label for="synopsis" class="form label">Synopsis:</label>
                <div class="input-group col">
                    <textarea class="form-control" formControlName="synopsis" id="synopsis" rows="3"
                        placeholder="Synopsis"></textarea>
                    <span class="input-group-text"><i class="bi bi-card-text"></i></span>
                </div>
            </div>
        </section>
        <section class="row mb-3">
            <div class="col">
                <label for="date" class="form-label">Date of Released:</label>
                <div class="input-group col">
                    <input class="form-control" type="month" formControlName="date" id="date" min="100" max="2099" />
                </div>
            </div>
            <div class="col">
                <label for="genre" class="form-label">Book's Genre:</label>
                <div class="input-group col">
                    <input class="form-control" type="text" formControlName="genre" id="genre"
                        placeholder="Enter the genre">
                    <span class="input-group-text"><i class="bi bi-heart"></i></span>
                </div>
            </div>
        </section>
        <section class="row mb-4">
            <div class="btn-save text-center">
                <button class="btn btn-secondary w-100 mt-3 mb-4" type="submit" (click)="save()">Save <i
                        class="bi bi-box-arrow-in-right"></i></button>
            </div>
        </section>
    </form>
    <h1 class="text-center">Books</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Date</th>
                <th scope="col">Genre</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of arrayBook">
                <th scope="row">{{ book.id }}</th>
                <td>{{ book.title }}</td>
                <td>{{ getAuthorName(book.authorId)?.name }}</td>
                <td>{{ book.date }}</td>
                <td>{{ book.genre }}</td>
                <td>
                    <button class="btn btn-success me-2" (click)="update(book)">Update</button>
                    <button class="btn btn-danger" (click)="delete(book)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</main>