<div class="container h-100 w-75 bg-dark rounded-4 mt-3" style="margin-bottom: 90px;">
  <div class="row justify-content-center">
    <div class="col">
      <span *ngFor="let book of arrayBook" class="text-center">
        <div class="card rounded-4 border-5 border-success m-5">
          <div class="card-body">
            <h4 class="card-title">{{ book.title }}</h4>
            <ul class="list-group p-2">
              <li class="list-group-item">{{ book.synopsis }}</li>
              <li class="list-group-item">Written by: {{ getAuthor(book.authorId)?.name }}</li>
            </ul>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>
